In [125]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [126]:
df=pd.read_csv('onedrive/documents/Wine.csv')

In [127]:
df

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [128]:
df.columns = [  'name'
                 ,'Alcohol'
             	,'MalicAcid'
             	,'Ash'
            	,'Ashalcalinity'
             	,'Magnesium'
            	,'TotalPhenols'
             	,'Flavanoids'
             	,'NonflavanoidPhenols'
             	,'Proanthocyanins'
            	,'ColorIntensity'
             	,'Hue'
             	,'od280_od315'
             	,'Proline'
                ]

In [129]:
df.isnull().sum()

name                   0
Alcohol                0
MalicAcid              0
Ash                    0
Ashalcalinity          0
Magnesium              0
TotalPhenols           0
Flavanoids             0
NonflavanoidPhenols    0
Proanthocyanins        0
ColorIntensity         0
Hue                    0
od280_od315            0
Proline                0
dtype: int64

In [130]:
df.shape

(177, 14)

In [131]:
df.describe()

,name,Alcohol,MalicAcid,Ash,Ashalcalinity,Magnesium,TotalPhenols,Flavanoids,NonflavanoidPhenols,Proanthocyanins,ColorIntensity,Hue,od280_od315,Proline
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,1.943503,12.993672,2.339887,2.366158,19.516949,99.587571,2.292260,2.023446,0.362316,1.586949,5.054802,0.956983,2.604294,745.096045
std,0.773991,0.808808,1.119314,0.275080,3.336071,14.174018,0.626465,0.998658,0.124653,0.571545,2.324446,0.229135,0.705103,314.884046
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.360000,1.600000,2.210000,17.200000,88.000000,1.740000,1.200000,0.270000,1.250000,3.210000,0.780000,1.930000,500.000000
50%,2.000000,13.050000,1.870000,2.360000,19.500000,98.000000,2.350000,2.130000,0.340000,1.550000,4.680000,0.960000,2.780000,672.000000
75%,3.000000,13.670000,3.100000,2.560000,21.500000,107.000000,2.800000,2.860000,0.440000,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [132]:
import seaborn as sn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import model_selection 
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

In [133]:
train=df
test=df

In [134]:
train

,name,Alcohol,MalicAcid,Ash,Ashalcalinity,Magnesium,TotalPhenols,Flavanoids,NonflavanoidPhenols,Proanthocyanins,ColorIntensity,Hue,od280_od315,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [135]:
test

,name,Alcohol,MalicAcid,Ash,Ashalcalinity,Magnesium,TotalPhenols,Flavanoids,NonflavanoidPhenols,Proanthocyanins,ColorIntensity,Hue,od280_od315,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

# Random Forest Modelling

In [192]:
x=train.drop(['name','Magnesium','Proline','ColorIntensity'], axis = 1)

In [193]:
x.shape

(177, 10)

In [194]:
y=train['name']

In [195]:
y.shape

(177,)

In [196]:
#Spliting the data into train and test by 75% and 25%
# By default train_test_split() method splits dataset into 75% train and 25% test
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=5)

In [197]:
x_train.shape

(132, 10)

In [198]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=10, random_state=5)
rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10, random_state=5)

In [199]:
y_pred = rfc.predict(x_test)

In [200]:
metrics.accuracy_score(y_test, y_pred)

0.9777777777777777

# Cross Validation

In [201]:
rfc = RandomForestClassifier(n_estimators=10)
rfc_cv_score = cross_val_score(rfc, x, y, cv=10)
print(rfc_cv_score)

[0.94444444 0.88888889 0.83333333 0.88888889 0.94444444 0.94444444
 1.         1.         0.94117647 0.94117647]

In [202]:
from sklearn.metrics import classification_report, confusion_matrix
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))
print('\n')

=== Confusion Matrix ===
[[7 8 5]
 [5 6 4]
 [3 7 0]]

In [203]:
print("=== Classification Report ===")
print(classification_report(y_test, rfc_predict))
print('\n')

=== Classification Report ===
              precision    recall  f1-score   support

           1       0.47      0.35      0.40        20
           2       0.29      0.40      0.33        15
           3       0.00      0.00      0.00        10

    accuracy                           0.29        45
   macro avg       0.25      0.25      0.24        45
weighted avg       0.30      0.29      0.29        45

In [204]:
print("Mean of cross validation score Random Forest: ", rfc_cv_score.mean())

Mean of cross validation score Random Forest:  0.9326797385620915